@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.button {
  @include reset;
  @include transitions(background-color, border-color, color);
  background-color: $secondary-text;
  border-radius: calculateRem($size-radius);
  border: calculateRem(2px) transparent solid;
  box-sizing: border-box;
  color: $primary-white;
  cursor: pointer;
  letter-spacing: calculateRem(1.5px);
  text-align: center;
  @include focus {
    outline: 0 none;
  }

  &.large {
    font-weight: $extrabold;
    line-height: calculateRem($size-larger);
    @include fontSize($size-large);
    @include padding(15px, 40px);
  }

  &.small {
    font-weight: $bold;
    line-height: calculateRem($size-small);
    @include fontSize($size-small);
    @include padding(10px, 20px);
  }

  &.caps {
    text-transform: uppercase;
  }

  &.full {
    width: 100%;
  }

  &.primary {
    background-color: $primary-color;

    &[disabled] {
      @include HexToRgba($primary-color, .5);
    }

    @include not([disabled]) {

      @include hover {
        background-color: $primary-hover-color;
      }

      @include focus {
        background-color: $primary-focus-color;
      }

      @include active {
        background-color: $primary-active-color;
      }
    }

    @include button-outlined {
      @include not([disabled]) {
        border-color: $primary-color;
        color: $primary-color;

        @include hover {
          border-color: $primary-hover-color;
          color: $primary-hover-color;
        }

        @include focus {
          border-color: $primary-focus-color;
          color: $primary-focus-color;
        }

        @include active {
          border-color: $primary-active-color;
          color: $primary-active-color;
        }
      }
    }
  }

  &.secondary {
    background-color: $secondary-color;

    &[disabled] {
      @include HexToRgba($secondary-color, .5);
    }

    @include not([disabled]) {

      @include hover {
        background-color: $secondary-hover-color;
      }

      @include focus {
        background-color: $secondary-focus-color;
      }

      @include active {
        background-color: $secondary-active-color;
      }
    }

    @include button-outlined {
      @include not([disabled]) {
        border-color: $secondary-color;
        color: $secondary-color;

        @include hover {
          border-color: $secondary-hover-color;
          color: $secondary-hover-color;
        }

        @include focus {
          border-color: $secondary-focus-color;
          color: $secondary-focus-color;
        }

        @include active {
          border-color: $secondary-active-color;
          color: $secondary-active-color;
        }
      }
    }
  }

  &.tertiary {
    background-color: $primary-brand-color;

    &[disabled] {
      @include HexToRgba($primary-brand-color, .5);
    }

    @include not([disabled]) {
      @include allLinksStates {
        background-color: $secondary-brand-color;
      }
    }

  }

}

@include mobile($min-mobile) {
  .button {
    &.large {
      @include fontSize($size-small);
      @include padding(10px, 20px);
    }
  }
}
