@import "./variables";
@import "./mixins";

// Fieldsets

fieldset {
  @include reset;
  border: 0 none;
}

// Inputs

.input {
  @include reset;
  border-radius: $size-radius;
  border: solid calculateRem($size-border-large) $border-color;
  font-size: $input-normal;
  @include transitions(border-color);

  &--large {
    padding: calculateRem($input-large-padding);
  }

  &--small {
    border-width: calculateRem($size-border-small);
    padding: calculateRem($input-small-padding);
  }

  @include focus {
    outline: 0;
  }

  &::placeholder {
    color: $quaternary-text;
  }

  &--primary {
    @include focus {
      border-color: $primary-focus-color;
    }
  }

  &--secondary {
    @include focus {
      border-color: $secondary-focus-color;
    }
  }

}

// Feedbacks

.feedback {
  @include fontSize(12px);
  display: flex;
  align-items: center;
  font-weight: $bold;
  letter-spacing: calculateRem(1px);
  line-height: calculateRem(20px);
  margin: 0;

  &--alert {
    color: $error-text;
  }
}

// @Media

@include mobile($min-mobile) {
  .input {
    &--large {
      padding: calculateRem($input-small-padding);
    }
  }

}
