@import "./variables";
@import "./mixins";

html,
body {
    height: 100%;
}

html {
  font: $normal #{$font-size-base}/#{$line-height} $primary-font;
}

body {
  background: $bg-color url('/assets/images/bg-patterns.jpg') no-repeat 0 0;
  background-size: cover;
  color: $secondary-text;
  margin: 0;
  padding: 0;
}

p {
  @include fontSize($size-normal);
  margin: 0 0 calculateRem($size-normal);
}

a {
  color: $primary-hover-color;
  text-decoration: none;

  @include allLinksStates {
    color: $primary-hover-color;
    text-decoration: underline;
  }
}

img {
  border: 0;
  display: inline-block;
  margin-bottom: 0;
}
