@import "/src/assets/scss/variables";
@import "/src/assets/scss/mixins";

.label {

  &.large {
    font-size: calculateRem($label-small);
  }

  &.small {
    font-size: calculateRem($label-small);
  }
}

@include mobile-up {
  .label {
    &.large {
      font-size: calculateRem($label-large);
    }
  }
}
