@import "./variables";
@import "./mixins";


html,
body {
    height: 100%;
}

html {
  font: $normal #{$font-size-base}/#{$line-height} $primary-font;
  box-sizing: border-box;
}

body {
  background: $bg-color url('/assets/bg-patterns.jpg') no-repeat 0 0;
  background-size: cover;
  color: $secondary-text;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  @include flexbox(0, 'row');
}

p {
  @include fontSize($size-normal);
  margin: 0 0 calculateRem($size-normal);
}

a {
  color: $primary-hover-color;
  text-decoration: none;

  @include allLinksStates {
    color: $primary-hover-color;
    text-decoration: underline;
  }
}
