@import "/src/assets/scss/variables";
@import "/src/assets/scss/mixins";

.control {
  @include flexbox(10px);
}

input {
  @include reset;
  border-radius: $size-radius;
  border: solid calculateRem($size-border-large) $border-color;
  font-size: $input-normal;
  @include transitions(border-color);

  &.large {
    padding: calculateRem($input-small-padding);
  }

  &.small {
    border-width: calculateRem($size-border-small);
    padding: calculateRem($input-small-padding);
  }

  &.full {
    flex-grow: 1;
  }

  @include focus {
    outline: 0;
  }

  &::placeholder {
    color: $quaternary-text;
  }

  &.primary {
    @include focus {
      border-color: $primary-focus-color;
    }
  }

  &.secondary {
    @include focus {
      border-color: $secondary-focus-color;
    }
  }

}

@include mobile-up {
  input {
    &.large {
      padding: calculateRem($input-large-padding);
    }
  }
}
