@import "/src/assets/scss/variables";
@import "/src/assets/scss/mixins";

.wrapper {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  @include flexbox(0px, 'row');;
}

.container {
  @include padding(0px, 20px);

  .group {
    &__h1 {
      margin: 0;
    }

    &__h2 {
      line-height: 130%;
      margin: calculateRem(60px) 0;
    }
  }
}

.form {
  @include flexbox(10px);

  &__row {
    @include flexbox(10px);
  }

  p, a {
    font-size: calculateRem($size-small);
    margin: 0;
  }
}

@include mobile-up {
  .container {
    max-width: 420px;
  }

  .group {
    &__h2 {
      margin: calculateRem(40px) 0;
    }
  }

  .form {
    p, a {
      font-size: calculateRem($size-smaller);
    }
  }
}
