@import "/src/assets/scss/variables";
@import "/src/assets/scss/mixins";

.wrapper {
  display: grid;
  row-gap: calculateRem(40px);
}

.container {
  @extend %container;
}

.form {
  &__row {
    display: grid;
    gap: calculateRem(20px);
    grid-template-columns: repeat(3, 1fr);
  }
}

.control {
  @include flexbox(calculateRem(10px));
  flex-grow: 1;
}

@include mobile($min-mobile) {
  .container {
    max-width: 100%;
    padding: 0 calculateRem(20px);
  }
}
