<div class="wrapper">

  <tt-header></tt-header>

  <main>

    <div class="container">

      <form class="form" [formGroup]="form">

        <div class="form__row">

          <div class="control" *ngIf="!!countries.length">
            <tt-select ttPrimary ttSmall id="country" name="country" formControlName="country" label="País" [defaultValue]="defaultValue" [items]="countries" (change)="onChange()"></tt-select>
            <tt-validation *ngIf="country.dirty && country.hasError('required')" [message]="'*Campo obrigatório: País'" [type]="'alert'"></tt-validation>
          </div>

          <div class="control" *ngIf="!!seasons.length">
            <tt-select ttPrimary ttSmall id="season" formControlName="season" label="Temporada" [defaultValue]="defaultValue" [items]="seasons" (change)="onChange()"></tt-select>
            <tt-validation *ngIf="season.dirty && season.hasError('required')" [message]="'*Campo obrigatório: Temporada'" [type]="'alert'"></tt-validation>
          </div>

          <div class="control" *ngIf="!!leagues.length">
            <tt-select ttPrimary ttSmall id="league" formControlName="league" label="Liga" [defaultValue]="defaultValue" [items]="leagues" (change)="onChange()"></tt-select>
            <tt-validation *ngIf="league.dirty && league.hasError('required')" [message]="'*Campo obrigatório: Temporada'" [type]="'alert'"></tt-validation>
          </div>

        </div>

        <div class="form__row" *ngIf="!!this.errorMessage">
          <tt-validation [message]="this.errorMessage" [type]="'alert'"></tt-validation>
        </div>

      </form>

      <br>
      <br>
      <br>
      <br>
      <p>Form value: {{ form.value | json }}</p>

    </div>

  </main>

</div>
