<div class="wrapper">

  <tt-header></tt-header>

  <main>

    <div class="container">

      <form class="form" [formGroup]="form">

        <div class="form__row">

          <div class="control">
            <tt-label ttLarge label="País" [for]="'country'"></tt-label>
            <tt-select ttPrimary ttSmall id="country" formControlName="country" [defaultValue]="defaultValue" [items]="countries"></tt-select>
            <tt-validation *ngIf="country.dirty && country.hasError('required')" [message]="'*Campo obrigatório: País'" [type]="'alert'"></tt-validation>
          </div>

        </div>

      </form>

      <br>
      <br>
      <br>
      <br>
      <p>Form value: {{ form.value | json }}</p>

    </div>

  </main>

</div>
