@import "/src/assets/scss/variables";
@import "/src/assets/scss/mixins";

.wrapper {
  display: grid;
  row-gap: calculateRem(40px);
}

.container {
  width: 959px;
  margin: 0 auto;
}

.form {
  @include flexbox(calculateRem(10px), 'row');
  width: 100%;

  &__row {
    @include flexbox(calculateRem(10px));
    flex-grow: 1;
  }
}

.control {
  @include flexbox(calculateRem(10px));
}

@include mobile($min-mobile) {
  .container {
    max-width: 100%;
    padding: 0 calculateRem(20px);
  }
}
