@import "/src/assets/scss/mixins";

.header {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem .5rem;

  &__a {
    display: flex;
    align-items: center;
    gap: calculateRem(10px);

    & {
      @include allLinksStates(){
        text-decoration: none;
      }
    }

    img {
      width: calculateRem(80px);
    }
  }

  &__h {
      color: $primary-white;
      letter-spacing: calculateRem(3px);
  }

}
