<div class="wrapper">

  <tt-header></tt-header>

  <main>

    <div class="container">

      <div class="text-container">
        <h2>Selecione seu time</h2>
        <p>Para visualizar informações do time desejado, selecione as opções abaixo:</p>
      </div>

      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form__row">

          <div class="control">
            <tt-select ttPrimary ttSmall id="country" name="country" formControlName="country" label="País" [defaultValue]="defaultValue" [items]="countries" (change)="OnChange()"></tt-select>
          </div>

          <div class="control">
            <tt-select ttPrimary ttSmall id="season" formControlName="season" label="Temporada" [defaultValue]="defaultValue" [items]="seasons" (change)="OnChange()"></tt-select>
          </div>

          <div class="control">
            <tt-select ttPrimary ttSmall id="league" formControlName="league" label="Liga" [defaultValue]="defaultValue" [items]="leagues" (change)="OnChange()"></tt-select>
            <tt-loader *ngIf="loadingLeagues" message="Carregando"></tt-loader>
          </div>

          <div class="control">
            <tt-select ttPrimary ttSmall id="team" formControlName="team" label="Time" [defaultValue]="defaultValue" [items]="teams" (change)="OnChange()"></tt-select>
            <tt-loader *ngIf="loadingTeams" message="Carregando"></tt-loader>
          </div>

        </div>

        <div class="form__row form__row--full" >

          <tt-validation *ngIf="!!this.formFeeback" [message]="this.formFeeback.msg" [type]="formFeeback.type"></tt-validation>
        </div>

        <div class="form__row form__row--full">
          <tt-button ttPrimary ttLarge ttCaps [label]="'Pesquisar'" [disabled]="!form.valid"></tt-button>
        </div>

      </form>

      <p>Form value: {{ form.value | json }}</p>

    </div>

  </main>

</div>
